<div class="logo">
    ABOUT
</div>
<div class="about-container">
    <img class="about-image"
        src="https://img.freepik.com/premium-photo/digital-cyberspace-data-network-connections_24070-1044.jpg?w=2000">
    <div class="text-container">
        <div class="about-header">
            MEET TECHBLOG
        </div>
        <div class="about-text">
            Ut etiam sit amet nisl purus in mollis nunc sed. Gravida dictum fusce ut placerat. Libero id faucibus nisl
            tincidunt eget nullam. Sagittis vitae et leo duis ut diam quam nulla porttitor. Pretium aenean pharetra
            magna ac
            placerat vestibulum. Duis ultricies lacus sed turpis tincidunt id. Risus sed vulputate odio ut enim. Non
            odio
            euismod lacinia at quis. Id venenatis a condimentum vitae sapien pellentesque. Gravida cum sociis natoque
            penatibus et magnis dis parturient. Accumsan in nisl nisi scelerisque eu ultrices vitae. Nisi scelerisque eu
            ultrices vitae auctor eu augue ut lectus. Augue neque gravida in fermentum et sollicitudin ac. Quis commodo
            odio
            aenean sed adipiscing. Platea dictumst quisque sagittis purus sit. Duis at tellus at urna condimentum
            mattis.
            Eget nullam non nisi est sit amet facilisis. Varius morbi enim nunc faucibus a pellentesque sit amet.
            Pretium
            vulputate sapien nec sagittis aliquam malesuada bibendum.
        </div>
    </div>
</div>