<div class="navigation">
    <span mat-list-item class="side logo" disabled>CoolTech</span>
    <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="" class="nav-button"> Blog </a>
        <a mat-list-item routerLink="/about" class="nav-button"> About </a>
        <a mat-list-item routerLink="/contact" class="nav-button"> Contact </a>
        <a mat-list-item class="nav-button"> Search </a>
    </mat-nav-list>
    <div mat-list-item class="side socials">
        <a  href="https://instagram.com">
            <img class="social-icon" src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
        </a>
        <a href="https://facebook.com">
            <img class="social-icon" src="https://cdn-icons-png.flaticon.com/512/1051/1051309.png">
        </a>
    </div>
</div>

<router-outlet class="main"></router-outlet>

<div class="footer">
    <mat-nav-list class="footer-list">
        <a mat-list-item routerLink="" class="nav-button"> Blog </a>
        <a mat-list-item routerLink="/about" class="nav-button"> About </a>
        <a mat-list-item routerLink="/contact" class="nav-button"> Contact </a>
    </mat-nav-list>
    <div mat-list-item class="side socials">
        <a  href="https://instagram.com">
            <img class="social-icon" src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
        </a>
        <a href="https://facebook.com">
            <img class="social-icon" src="https://cdn-icons-png.flaticon.com/512/1051/1051309.png">
        </a>
    </div>
</div>