.logo {
    display: flex;
    justify-content: center;
    font-size: 5em;
    border-bottom: 1px solid;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;
    margin-top: 70px;
}


//POST block
.post-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 30px;

    a:active,
    a {
        text-decoration: none;
        color: black;
        height: 100%;
    }

    a:hover {
        color: grey;
        .post-card{
            color:gray;
            box-shadow: 3px 3px rgba($color: #312264, $alpha: 1.0), -1em 0 .4em rgb(71, 2, 141);
        }
        .post-footer:before{
            background:gray;
        }
        .view-img{
            filter: invert(100%);
        }
    }
}

.blog-paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-card {
    max-width: 350px;
    height: 600px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.post-footer {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    &:before{
        background: black;
        height: 2px;
        margin-bottom:5px;
        width: 300px;
        content:'';
    }
    .footer-container{
        width: 100%;
        display: flex;
        justify-content:space-around;
        .footer-view {
            display: flex;
            align-items:center;
        }
        .view-img{
            height: 22px;
            width: 27px;
            margin-right: 5px;
            filter: contrast(160%);
        }
    }
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    height:55px;   
}
:host ::ng-deep .mat-card-header-text {
    margin: 0;
}


.post-subtitle {
    
}

.post-image {
    height: 400px;
}


// ABOUT block
.about-container {
    margin: 30px 30px 0 30px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    border: 1px solid;
}

.about-text {
    max-width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

.about-image {
    background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaG5vbG9neXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 1% bottom;
    background-size: 50% 100%;
    height: 648px;
    width: auto;
    z-index: -1;
    position: relative;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 15px 0 15px 0;
}

.about-button {
    background-color: black;
    color: white;
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;
    margin-top: 30px;

}

.insta-images {
    height: 200px;
    width: 200px;
    margin: 5px;
}