<div class="logo">
    Tech Blog
</div>

<div class="post-container">
    <a *ngFor="let post of pageSlice" routerLink="post/{{post.id}}">
        <mat-card class="post-card">
            <img mat-card-image class="post-image" src={{post.image}} alt="">
            <mat-card-header class="post-header">{{post.title}}</mat-card-header>
            <mat-card-content class="post-subtitle">{{post.subtitle}}</mat-card-content>
            <mat-card-footer class="post-footer">
                <div class="footer-container">
                    <div class="footer-view">
                        <img src="https://firebasestorage.googleapis.com/v0/b/techblog-b1240.appspot.com/o/images.png?alt=media&token=7736639b-2950-428a-9023-4c1b30aff45b" alt="" class="view-img">
                        0
                    </div>
                    <div>author:{{post.author}}</div>
                </div>
            </mat-card-footer>
        </mat-card>
    </a>
    <mat-paginator #paginator class="blog-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex">
    </mat-paginator>
</div>

<div class="about-container row">
    <div class="column">
        <div class="about-image"></div>
    </div>

    <div class="column about-info">
        <div class="about-header">ABOUT OUR BLOG</div>
        <span class="about-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click
            “Edit Text” or double
            click
            me to add your own content and make changes to the font. I’m a great place for you to tell a story and let
            your
            users know a little more about you.
        </span>
        <button mat-raised-button color="primary" class="about-button" (click)="goToAbout()">Learn More</button>
    </div>
</div>

<div>
    <div class="header">
        FOLLOW ME ELSEWHERE
    </div>
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
    <img src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="" class="insta-images">
</div>

<div class="header">
    SHOP MY LOOK
</div>